* {
    margin: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #3A405A;
}

.info {
    position: absolute;
    top: 5%;
    left: 5%;
    color:#FF5D73;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.game-board {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
}

.grid-item {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: solid 1px #3A405A;
    justify-content: center;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.hidden {
    background-color: black;
}



.score {
    color: #D95D39;
    font-weight: 700;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}


.difficulty {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    background-color: rgba(51, 63, 20, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.difficulty h1 {
    color: #C9ADA1;
    font-family:'Courier New', Courier, monospace;
    margin-bottom: 30px;
}
.difficultyHide {
   display: none;
}

.level-button {
    width: 100px;
    height: 50px;
    background-color: #7B9E89;
    border: none;
    margin: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    
}
.matched {
    display: none;
  }
  /* Base style for all difficulty buttons */
.level-button {
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* Green button style */
  .level-button.green {
    background-color: green;
    color: white;
  }
  
  .level-button.green:hover {
    background-color: #059f05; /* Darker green on hover */
  }
  
  /* Yellow button style */
  .level-button.yellow {
    background-color: rgb(255, 234, 0);
    color: #333; /* Dark text color for better contrast */
  }
  
  .level-button.yellow:hover {
    background-color: #fdff72; /* Darker yellow on hover */
  }
  
  /* Red button style */
  .level-button.red {
    background-color: red;
    color: white;
  }
  
  .level-button.red:hover {
    background-color: #ff2121a7; /* Darker red on hover */
  }
  
  /* Center the buttons horizontally */
  .difficulty-button-container {
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .game-board {
      max-width: 350px;
      height: 100vw;
      padding: 10px;
      grid-template-columns: auto auto;
    }
   .score { 
      padding: 10px;
    }

  }

  /* Center the buttons horizontally for mobile */
@media (max-width: 768px) {
    .difficulty-button-container {
      text-align: center;
    }
    .difficulty-text {
      text-align: center;
    }
    .level-button {
      margin: 5px;
    }
    #game-message {
      text-align: center;
    }
  }
  
  